version: 2.1
orbs:
  node: circleci/node@12
jobs:
  build-and-test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install
            - run: npm install codecov -g
            - run: npm run webpack:prod
            - run: npm test
workflows:
    build-and-test:
      jobs:
        - build-and-test
        